{
  "root": true,
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "no-unused-vars": "warn",
  "no-var": "error",
  "no-console": "warn",
  "no-debugger": "warn"
}